In [1]:
# This is the notebook for a very basic EDA and NN Implementation

In [2]:
# Importing basic libraries
import numpy as np
import pandas as pd

In [65]:
# Creating a header for the dataset
cols = []

# reading text file
with open('OpportunityUCIDataset/dataset/column_names.txt') as f:
    text = f.readlines()

for i in range(2,245):
    temp = text[i].split(';')[0].split(':')[1].strip()
    # remove the number from start
    temp = temp.split(' ')[1:]
    temp = ' '.join(temp)
    cols.append(temp)

for i in range(248,255):
    cols.append(text[i].split(':')[1].strip().split(' ')[1])

In [67]:
# reading a '.dat' file
data = pd.read_csv('OpportunityUCIDataset/dataset/S1-ADL1.dat', header=None)

# split each row by space and then store in separate columns
data = data[0].str.split(' ', expand=True)

# change the column names
data.columns = cols
data.head()

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
0,0,87,975,-287,11,1001,163,95,975,152,...,5789,2907,1447,0,0,0,0,0,0,0
1,33,124,978,-389,-7,1014,199,124,968,123,...,5789,2908,1443,0,0,0,0,0,0,0
2,67,102,996,-440,-49,1024,193,127,1001,113,...,5789,2910,1440,0,0,0,0,0,0,0
3,100,59,861,-384,-9,1023,202,110,1007,106,...,5789,2912,1440,0,0,0,0,0,0,0
4,133,119,946,-426,-22,1026,188,98,1001,92,...,5791,2915,1442,0,0,0,0,0,0,0

In [69]:
data.head()

,MILLISEC,Accelerometer RKN^ accX,Accelerometer RKN^ accY,Accelerometer RKN^ accZ,Accelerometer HIP accX,Accelerometer HIP accY,Accelerometer HIP accZ,Accelerometer LUA^ accX,Accelerometer LUA^ accY,Accelerometer LUA^ accZ,...,LOCATION TAG4 X,LOCATION TAG4 Y,LOCATION TAG4 Z,Locomotion,HL_Activity,LL_Left_Arm,LL_Left_Arm_Object,LL_Right_Arm,LL_Right_Arm_Object,ML_Both_Arms
0,0,87,975,-287,11,1001,163,95,975,152,...,5789,2907,1447,0,0,0,0,0,0,0
1,33,124,978,-389,-7,1014,199,124,968,123,...,5789,2908,1443,0,0,0,0,0,0,0
2,67,102,996,-440,-49,1024,193,127,1001,113,...,5789,2910,1440,0,0,0,0,0,0,0
3,100,59,861,-384,-9,1023,202,110,1007,106,...,5789,2912,1440,0,0,0,0,0,0,0
4,133,119,946,-426,-22,1026,188,98,1001,92,...,5791,2915,1442,0,0,0,0,0,0,0